.footer{

  &__heading{
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    max-width: 425px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint('lg') {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__button-holder{
    padding-bottom: 130px;
    margin: 0 auto;
    text-align: center;
  }

  &__logo{
    padding-bottom: 35px;
  }

  &__slogan{
    max-width: 236px;
    padding-bottom: 65px;
  }

  &__social-icon-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @include breakpoint('xs') {
      padding-bottom: 45px;
    }
  }

  &__link-item-main{
    color: $black;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 40px;
  }

  &__link-item{
    padding-bottom: 30px;
    font-weight: 600;
  }

  &__link{
    color: $black;

    &:hover{
      color: $green;
    }
  }

  &__main-link-holder{
    padding-bottom: 37px;
  }

  &__link-holder{
    padding-bottom: 37px;
  }

  &__link-main{
    color: $black;
    font-size: 20px;
    font-weight: 600;

    &:hover{
      color: $green;
    }
  }

  &__label{

    position: relative;

    &:after{
      position: absolute;
      content: '';
      background-image: url('../../../../src/img/arrow.svg');
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      top: 4px;
      left: 145px;
    }
  }

  &__input{
    background: #F2F2F2;
    border-radius: 4px;
    width: 174px;
    height: 40px;
    padding-left: 12px;
    border-style: none;
    color: $black;
  }

  &__line{
    border-bottom: 1px solid #EDEDED;
    padding-top: 45px;
  }

  &__copyright{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
  }
}