.header{
  position: relative;

  &:active{
    .header__nav-list{
      transform: translateX(0);
    }
  }

  &__holder{
    padding-top: 50px;
    padding-bottom: 188px;
  }

  &__logo-holder{
    @include breakpoint('lg') {
      padding-left: 40px;
    }

    @include breakpoint('xl') {
      padding-left: 40px;
    }
  }

  &__nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link{
    font-size: 18px;
    color: $black;
  }

  &__nav-list{
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('lg') {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 2;
      background-color: white;
      padding-top: 60px;
      height: 100vh;
      transform: translateX(100%);
      transition: all ease-in-out 0.3s;
    }
  }

  &__nav-item{
    padding-right: 50px;

    @include breakpoint('lg') {
      margin: 0 auto;
      padding-right: 0;
    }
  }

  &__nav-link{
    font-size: 18px;
    color: $black;

    &:hover{
    color: $green;
    }

    @include breakpoint('lg') {
      text-align: center;
      display: block;
      padding: 20px;
      margin-bottom: 30px;
    }
  }

  &__nav-link-green{
    width: 152px;
    height: 48px;
    background-color: $green;
    color: white;
    padding: 25px 55px;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1), 0 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;

    &:hover{
      background-color: white;
      color: $green;
    }
  }

  &__burger{
    display: none;
    cursor: pointer;
    z-index: 3;

    @include breakpoint('lg') {
      display: block;
      position: absolute;
      right: 35px;
      top: 46px;
    }
  }

  &__burger-bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $black;
 }
}