.header{


  &__holder{
    padding-top: 50px;
    padding-bottom: 188px;
  }

  &__nav-holder{
    @include breakpoint('lg') {
      padding-left: 30px;
    }
  }

  &__nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link{
    font-size: 18px;
    color: $black;
  }

  &__nav-list{
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-item{
    padding-right: 50px;
  }

  &__nav-link{
    font-size: 18px;
    color: $black;

    &:hover{
    color: $green;
    }
  }

  &__nav-link-green{
    width: 152px;
    height: 48px;
    background-color: $green;
    color: white;
    padding: 25px 55px;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1), 0 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;

    &:hover{
      background-color: white;
      color: $green;
    }
  }
}