.hero{
  background-size: 100% auto;
  background: rgb(255,255,255) ;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
  padding-bottom: 360px;
  padding-top: 270px;

  @include breakpoint('md') {
    padding-top: 85px;
  }

  &__holder{
    margin: 0 auto;
    text-align: center;
  }

  &__title{
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 78px;
    max-width: 772px;
    padding-bottom: 36px;

    @include breakpoint('xs') {
      font-size: 61px;
    }
  }

  &__title-green{
    color: $green;
  }

  &__content{
    font-size: 18px;
    font-weight: 400;
    color: $dark-gray;
    max-width: 492px;
    text-align: center;
    margin: 0 auto;
    line-height: 35px;
    padding-bottom: 73px;
  }

  &__button-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  &__video-button{
    color: $black;
    position: relative;

    &:before{
      position: absolute;
      content: '';
      background-image: url('../../../../src/img/playbutton.svg');
      background-size: 9px 12px;
      top: 5px;
      left: 105px;
      width: 9px;
      height: 12px;
    }

    &:hover{
      color: $green;
    }
  }
}