.testimonials{

  margin-bottom: -80px;

  @include breakpoint('lg') {
    margin-bottom: 120px;
  }

  &__square{
    background-color: #F2F2F2;
    max-width: 892px;
    height: 540px;
    margin: 0 auto;

    @include breakpoint('xl') {
      display: none;
    }
  }

  &__column-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    bottom: 400px;


    @include breakpoint('xs') {
      width: 100%;
    }

    @include breakpoint('lg') {
      width: 80%;
      margin: 0 auto;
      top: 20px;
    }
  }

  &__column{
    max-width: 380px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);

    @include breakpoint('xs') {
      max-width: 280px;
    }
  }

  &__column-content{
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint('xs') {
      padding-right: 20px;
    }
  }

  &__heading{
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #32435C;

    @include breakpoint('xs') {
      font-size: 13px;
    }
  }

  &__text{
    max-width: 325px;
    line-height: 30px;

    @include breakpoint('xs') {
      font-size: 11px;
    }
  }

  &__rate{
    padding-bottom: 20px;
  }
}