.testimonials{

  margin-bottom: -80px;

  @include breakpoint('lg') {
    margin-bottom: 120px;
  }

  &__square{
    background-color: #F2F2F2;
    max-width: 892px;
    height: 540px;
    margin: 0 auto;

    @include breakpoint('sm') {
      display: none;
    }
    @include breakpoint('md') {
      display: none;
    }
    @include breakpoint('lg') {
      display: none;
    }
    @include breakpoint('lx') {
      display: none;
    }
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    bottom: 400px;
    left: 33px;


    @include breakpoint('sm') {
      width: 60%;
      left: 120px;
      top: -20px;
      padding-bottom: 130px;
    }

    @include breakpoint('md') {
      width: 60%;
      left: 205px;
      top: -20px;
      padding-bottom: 130px;
    }

    @include breakpoint('lg') {
      width: 60%;
      left: 190px;
      top: -20px;
      padding-bottom: 110px;
    }

    @include breakpoint('xl') {
      width: 60%;
      left: 380px;
      top: -20px;
      padding-bottom: 150px;
    }
  }

  &__column{
    max-width: 380px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);
  }

  &__column-content{
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__heading{
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #32435C;
  }

  &__text{
    max-width: 325px;
    line-height: 30px;
  }

  &__rate{
    padding-bottom: 20px;
  }
}