*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $black;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  }

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button-green{
  width: 225px;
  background-color: $green;
  color: white;
  padding: 25px 55px;
  text-align: center;
  box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1), 0 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 5px;

  &:hover{
    background-color: white;
    color: $green;
  }
}