@import "mixin";
@import "var";
@import "global";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/partners";
@import "blocks/about";
@import "blocks/work";
@import "blocks/testimonials";
@import "blocks/pricing";
@import "blocks/footer";